:root {
    --color-primary: #263238;
    --color-light-primary: #324751;
    --color-dark-grey: #8f95a5;
}
body {
    font-family: 'Poppins';
}

.section-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    /* identical to box height, or 167% */

    color: #000000;
}

#speaking,
#reading,
#writing,
#listening {
    padding-top: 2.25rem;
    padding-bottom: 2.75rem;
}

.card-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 80px;
    /* identical to box height, or 267% */
    color: #263238;
}

.card-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-dark-grey);
}

.btn {
    --bs-btn-padding-y: 1rem;
    --bs-btn-padding-x: 3.25rem;
    --bs-btn-font-size: 1.25rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    border-radius: 5px;
    color: #ffffff;
}

.btn-primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.btn-primary:hover {
    background-color: var(--color-light-primary);
    border-color: var(--color-light-primary);
}

.card {
    background-color: #f5f5f5;
    border-radius: 0.625rem;
}
